@font-face {
    font-family: "Heebo";
    src: url(../fonts/Heebo/Heebo-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Rubik_Bubbles";
    src: url(../fonts/Rubik_Bubbles/RubikBubbles-Regular.ttf);
}

